extends layout.pug 

block content 
    .container  
        h1 All Blogs 

        each blog in blogs 
            .blog-wrapper 
                a.blog(href=`/blogs/${ blogs.id }`)  #{blog.title}
                a.delete(href='#') delete