doctype html
html(lang="en")
    head
      title Blog App
      link(rel='stylesheet' href='/static/styles.css')
    body 

        header.navbar 
            h1 
                a(href='/') Blog App 

            nav.nav 
                a(href='/blogs') All Blogs 
                a(href='/archive') Archive 

        block content   
        